.account-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100vw;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgba(60, 59, 58, 0.5);

}

.account-menu{
    background: #3C3B3A;
    width: 30vw;
    float: right;
    height: 100vh;
    border-left: 2px solid grey;
    color: white;
    margin-top: 0;
}

.account-table > table {
    margin: 0 auto;
    text-align: left;
}

.account-td {
    padding: 2px 10px 2px 0px;
}

.account-detail-end {
    margin-bottom: 20px;
}

.account-menu h1 {
    color: #F9B354;
}

.active-account{
    right: 0;
}

.close_account{
    color: white !important;
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-left: 10%;
}

.close_account:hover{
    color: #F9B354;
}

.account-items{
    text-align: center;
}

.account-items > *{
    margin-bottom: 10%;
}

.account-buttons {
    display: flex;
    justify-content: center;
}

.account-button{
    background-color:#F9B354;
    color:#FFFFFF;
    border:none;
    font-size:15px;
    margin-left:5%; 
    margin-bottom: 4px;
    padding: 10px 20px 10px 20px;
    width: 185px;
    text-decoration: none;
    font-weight: bold;
}