.image-container img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.image-container {
    width: 100%;
    margin-bottom: 50px;
    background-image: url(../images/background.svg);
    background-position: center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.line{
    background-color: grey;
    height: 5px;
    width: 100%;
    border-radius: 15%;
    display: inline-block;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;

}

.standard, .premium, .director{
    width: 25%;
    height: 500px;
}

.main, .sub{
    color: white;
}

.main{
    width: 100%;
    height: 30%;
    background-color: #2D2C2C;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;

}

.sub{
    width: 100%;
    height: 65%;
    background-color: #2D2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub li {
    list-style: none;
}

.button{
    background-color: #F9B354;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}