.image-container img{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.image-container {
    width: 100%;
    margin-bottom: 50px;
    background-image: url('../img/background.svg') ;
    box-shadow: inset 0 0 0 50vw rgba(60, 59, 58, 0.6);
    background-position: center center;
    background-size: cover;
    height: 80vh;
    color: white;
}

.image-container .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20vh;
    
}
.image-container h1 {
    padding-top: 10vh;
    padding-right: 40%;
    font-size: 35px;
    
}

.line{
    background-color: grey;
    height: 5px;
    width: 100%;
    border-radius: 15%;
    display: inline-block;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;

}

.standard, .premium, .director{
    width: 25%;
    height: 500px;
}

.main, .sub{
    color: white;
    border: 1px solid #707070;
}

.main{
    width: 100%;
    height: 30%;
    background-color: #2D2C2C;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
  

}

.sub{
    width: 100%;
    height: 65%;
    background-color: #2D2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub ul{
    text-align:center;
    margin-bottom: 5%;
}

.sub ul li {
    list-style: none;
}

.sub ul li i{
    padding-right: 5px;
}

.button{
    background-color: #F9B354;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.fa-check{
    color: #80B34F;
}

.cross{
    color: #C7441C;
    margin-right: 2px;
}