.container-login, .container-change-password {
    background-color:#2D2C2C;
    margin-top:10%;
    width: 33% !important;
    height:40%;
    padding: 50px 30px 30px 30px;
    overflow: hidden;
    color: white;
}

.upper {
    display:flex;
    justify-content: center;
}

.upper > div {
    flex:1;
}

.upper > div > h1 {
    margin-left: 50px;
    color:#F9B354;
    padding-top:20px;
}

.upper > div > .logo {
    margin-left: 30px;
    width:135px;
    height:130px;
}

input[type="text"], input[type="password"] {
    background-color:#FFFFFF;
    height:30px;
    width: 100%;
    padding:10px;
    border:none;
    margin-top: 5px;
    margin-bottom: 15px;
}

form > div {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top:10px;
}

.submit-form {
    display: flex;
    align-items: center;
}

.submit-form > input[type="submit"] {
    margin: 0 auto;
    background-color:#F9B354;
    font-size:15px;
    padding: 5px 20px 5px 20px;
    color: white;
    border: none;
}

.no-account {
    text-align: center;
    font-size: 12px;
    margin-top:5px;
}

.sign-up {
    text-decoration: none;
    color:#F9B354;
}
