.container-login {
    background-color:#2D2C2C;
    margin-top:7%;
    width: 33% !important;
    padding: 50px 30px 30px 30px;
    overflow: hidden;
    color: white;
}

.upper {
    display:flex;
    justify-content: center;
}

.upper > div {
    flex:1;
}

.upper > div > h1 {
    margin-left: 50px;
    color:#F9B354;
    padding-top:20px;
}

.upper > div > .logo {
    margin-left: 30px;
    width:135px;
    height:130px;
}

input[type="text"], input[type="password"] {
    background-color:#FFFFFF;
    color:black;
    height:30px;
    width: 100%;
    padding:10px;
    margin: 2px 0px 10px 0px;
    border:none;
}

form > div {
    width: 85%;
    margin: 0 auto;
    display: block;
}

form > div > label {
    margin-top: 20px;
}

.submit-form {
    display: flex;
    align-items: center;
}

.submit-form > input {
    margin: 0 auto;
    margin-top: 15px;
    padding: 7px 20px 7px 20px;
    font-size: 15px;
    background-color:#F9B354;
    color: white;
    border:none;
}

.no-account {
    text-align: center;
    font-size: 12px;
    margin-top:10px;
}

.sign-up {
    text-decoration: none;
    color:#F9B354;
}

.register-error, .register-success, .register-note {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.register-error {
    color: red;
}

.register-success {
    color: lightgreen;
}

.register-success > a {
    color: white;
}

.register-note {
    font-size: 10px;
    color: white;
}

.subscription {
    width: 100%;
    padding: 2px;
}

.g-recaptcha {
    margin-top: 20px;
}

.form-password {
    display: flex;
    justify-content: space-between;
}

.form-password div {
    width: 49%;
}