.container-login {
    background-color:#2D2C2C;
    margin-top:10%;
    width: 33% !important;
    padding: 50px 30px 30px 30px;
    overflow: hidden;
    color: white;
}

.upper {
    display:flex;
    justify-content: center;
}

.upper > div {
    flex:1;
}

.upper > div > h1 {
    margin-left: 50px;
    color:#F9B354;
    padding-top:20px;
}

.upper > div > .logo {
    margin-left: 30px;
    width:135px;
    height:130px;
}

.input[type="text"] {
    background-color:#FFFFFF;
    color:lightgray;
    height:30px;
    width: 100%;
    padding:10px;
    margin-bottom:5px;
    margin-top:5px;
    border:none;
}

form > div {
    width: 85%;
    margin: 0 auto;
    display: block;
    margin-top:10px;
}

.checkbox-form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.submit-form {
    display: flex;
    align-items: center;
}

.submit-form > input {
    margin: 0 auto;
    padding: 7px 20px 7px 20px;
    font-size:15px;
    background-color:#F9B354;
    color: white;
    border:none;
    margin-top:5%;
}

.no-account {
    text-align: center;
    font-size: 12px;
    margin-top:20px;
}



.sign-up {
    text-decoration: none;
    color:#F9B354;
}
