/* ----- General usage - don't change ----- */

body {
  background-color: #3C3B3A;
}

/* use for navbar template (template/navbar.php), DON'T CHANGE THIS */
.navbar {

}

/* use for footer template (template/footer.php), DON'T CHANGE THIS */
.footer {

}

/* Only attributes that the main container may hold! DON'T CHANGE THIS */
.container {
  width: 75%;
  margin: 0 auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* media queries */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}