@import url('./header.css');
/* ----- General usage - don't change ----- */

body {
  background-color: #3C3B3A;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* use for navbar template (template/navbar.php), DON'T CHANGE THIS */
footer {
  width: 100%;
  height: 5vh;
}

/* Only attributes that the main container may hold! DON'T CHANGE THIS */
.container {
  width: 75%;
  margin: 0 auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* media queries */
@media (min-width : 321px) {
  .container-my-movie-director > .movie-row > .movie , .movie-row > .movieAndTitle > .movie-row {
    width: 40%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .container-my-movie-director > .movie-row > .movie , .movie-row > .movieAndTitle > .movie-row{
    width: 18%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  .container-my-movie-director > .movie-row > .movie , .movie-row > .movieAndTitle > .movie-row {
    width: 14%; 
  }
} 

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .container-my-movie-director > .movie-row > .movie , .container-search-movies > .movie-row > .movieAndTitle {
    /* width: 14%; */
    width: 14%;
  }
}
