.container-movies {
  color: white;
  padding-top: 50px;
}

h1{
  color:#FFFFFF;
  margin-left:5%;
  margin-top: 2%;
}

h1 > span {
  font-weight: normal;
}
.container-movies > .movie-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.container-movies > .movie-row > .movie {
  height: 100%;
  margin: 20px 20px 0px 0px;
  overflow: hidden;
}

.container-movies > h1 {
  margin-top: 40px;
}


.movie > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
}

.movie > a > p {
  text-align: center;
}



.thumbnail {
  background-color: white;
  border: 2px solid gray;
  margin-bottom: 10px;
  background-image: url(https://m.media-amazon.com/images/I/619P8E4YT2L._AC_SY445_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}